html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  
}

.topbar {
  background: #344668;
  background-size: 200% 200%;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  gap: 20px;
}

.topbar-link {
  color: #f0f0f0;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  background: linear-gradient(135deg, #808ee7 0%, #10fff7 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  line-height: 1.4;
  transition: color 0.3s ease;
  position: relative;
  display: inline-block;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background: #1e2d54;
  border: 3px solid rgba(79, 130, 165, 0.6);
  border-radius: 8px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  overflow: hidden;
}

.dropdown-item {
  color: #a0b4e0;
  padding: 11px 18px;
  font-size: 1.2rem;
  white-space: nowrap;
  border-left: 2px solid transparent;
  transition: border-color 0.2s, color 0.2s, background 0.2s;
}


.dropdown-item:hover {
  border-left-color: #4191a5;
  color: #f0f0f0;
  background: rgba(16, 255, 247, 0.05);
}

.signin-svg {
  width: 45px;
  height: auto;
  position: absolute;
  right: 20px;
}
